.bg{
  z-index: 1000;
}
  
.explanation{
  text-decoration: underline;
}
  
.question{
  margin-bottom: 100px;
}
.wrap{
  text-align: center;
  width: 960px;
  margin: 0 auto;
}
  
.btn--white{
  color: #fff;
  background-color:#800080;
  border-bottom: 5px solid #9932CC;
  width: 300px;
  margin-bottom: 50px;
  border-radius: 30px;
}
   
.btn--white:active{
  margin-top: 3px;
  color: #fff;
  background-color: #800080;
  border-bottom: 2px solid #9932CC;
}
  
.btn--shadow{
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0, .3);
  box-shadow: 0 3px 5px rgba(0,0,0, .3);
}
  
.correct{
  display: none;
  font-size: 30px;
  background-color: #fff;
  width: 200px;
  height: 70px;
  color: #FF0000;
  position: fixed;
  top: 7%;
  left: 42%;
  z-index: 1100;
  border-bottom: 5px solid #888888;
}
  
.incorrect{
  display: none;
  font-size: 30px;
  background-color: #fff;
  width: 200px;
  height: 70px;
  color: #0000FF;
  position: fixed;
  top: 7%;
  left: 42%;
  z-index: 1100;
  border-bottom: 5px solid #888888;
}

#circle {
  width: 150px;
  height: 150px;
}
