<h2 style="padding-top: 20px;">お問い合わせ</h2>
<p>本サービスにおける不具合、質問などのお問い合わせは以下のTwitterアカウントのDM,リプライまでお願いいたします。<br>
【@masao0854】</p>
<div style="margin: 50px 0 50px 0;">
  <%= button_to "TOPページへ", nogichecks_index_path,{class: "start", method: :get} %>
</div>
