<div class="bg"></div>
<h2 class="question"><%= @question.content %></h2>

<p class="correct">〇正解</p>
<p class="incorrect">×不正解</p>

<% @option.each do |o| %>
  <%= button_to (nogichecks_index_path), {params: {content: o.content, is_answer: o.is_answer, question_id: o.question_id }, class: "button_option btn--white btn--cubic btn--shadow"} do %>
    <p><%= o.content %></p>
  <% end %>
<% end %>
<script>

$(function(){
  var btns = document.querySelectorAll(".button_option");
  console.log(btns);
  var elements = document.querySelectorAll("input[name='is_answer']");
  console.log(elements);
  $.each(elements, function(index, value){
    $(btns[index]).on("click", function(e){
      $(this).css("background-color", "red");
      $(this).css("border-bottom", "5px solid #FF0000");
      var answer = $(value).val();
      if (answer == "true") {
        setTimeout(function(){
          $(".correct").fadeIn(5);
        },500);
        $(".bg").css("position", "fixed");
        $(".bg").css("top", "0");
        $(".bg").css("left", "0");
        $(".bg").css("width", "100%");
        $(".bg").css("height", "100%");
        $(".bg").css("background", "rgba(0,0,0, .7)");
        $(".button_option").prop("disabled", true);
      } else {
        setTimeout(function(){
          $(".incorrect").fadeIn(5); 
        },500);
        $(".bg").css("position", "fixed");
        $(".bg").css("top", "0");
        $(".bg").css("left", "0");
        $(".bg").css("width", "100%");
        $(".bg").css("height", "100%");
        $(".bg").css("background", "rgba(0,0,0, .7)");
        $(".button_option").prop("disabled", true);
      } 
      e.preventDefault();
      setTimeout(function(){
        location.href = "/nogichecks/index";
      }, 3000);
    });
  })
});

</script>
