<h2><%= @question.content %></h2>
<% @option.each do |o| %>
  <%= button_to (nogichecks_index_path), {params: {content: o.content, is_answer: o.is_answer, question_id: o.question_id }}, class: "option" do %>
    <p><%= o.content %></p>
  <% end %>
<% end %>


<div class="correct" id="correct1">
  <div class="correctInner">
    〇正解
  </div>
</div>

<div class="incorrect" id="incorrect1">
  <div class="incorrectInner">
    ×不正解
  </div>
</div>

  <p>テスト</p>
<script type="text/javascript">
      $(document).ready(function() {
            $("p").text("成功！！");
          });
</script>
