<h2>診断結果</h2>
<h3>あなたのオタク度は<%= @maniac %></h3>
<p><%= @result %></p>
<a href = "/nogichecks/index">診断へ戻る</a>
<div style="margin-top: 50px; margin-left: ;">
  <table class="table">
    <tr>
      <th>回答</th>
      <th>答え</th>
    </tr>
    <% @answer.each do |a| %>
      <tr>
        <td><%= @your_answer %></td>        
        <td><%= a.content %></td>
      </tr>
    <% end %>
  </table>
</div>
